* {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

html {
    background: #fff;
}

.quote {
    display: block;
    margin: auto;
    margin-top: 150px;
    width: 400px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header {
    width: 100%;
    height: 150px;
    background: url('./background.jpg') no-repeat center;
    background-size: cover;
    background-color: rgba(76, 84, 164, .4);
    background-blend-mode: screen;
    margin: 0;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    vertical-align: bottom;
}

.content-text {
    min-height: 150px;
    display: block;
    margin: auto;
    background: #fff;
    padding: 20px;
    padding-top: 40px;
}

#ourQuote {
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    color: rgb(185, 185, 185)
}

#quoteAuthor {
    text-align: right;
    font-size: 0.8em;
    padding-top: 20px;
    color: rgb(115, 114, 114);
}

#twitter {
    position: relative;
    top: 139px;
    left: 130px;
    width: 60px;
    height: 60px;
    background: #e20269;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    transition: .1s;
}

#twitter img {
    margin-top: 5px;
    margin-left: 1px;
    height: 20px;
}

.button {
    padding-top: 30px;
    padding-bottom: 50px;
}

#quoteGen {
    display: block;
    margin: auto;
    background: #e20269;
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    border: none;
    height: 40px;
    width: 150px;
    transition: .2s;
}

#twitter:focus, #quoteGen:focus {
    outline: 0;
}

#twitter:active, #quoteGen:active {
    -ms-transform: scale(0.98, 0.98);
    /* IE 9 */
    -webkit-transform: scale(0.98, 0.98);
    /* Safari */
    transform: scale(0.98, 0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    transition: .2s;
}
@media (max-width:410px) {
  .quote {
      margin-top: 20px;
      width: 300px;
  }
  .header {
      height: 100px;
  }
  #ourQuote {
      font-size: 1em;
  }

  #quoteAuthor {
      font-size: 0.6em;
  }
  #twitter {
      top: 99px;
      left: 100px;
      width: 40px;
      height: 40px;
  }
}
